.App {
  text-align: center;
}

html, body {
  background-image: url('./assets/bg-min-blue.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}